body
{
    display: flex;
    background-image: url("images/background.png");
    background-repeat: repeat;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.mainFrame{
    border-radius: 10px;
    background-color: #d55252;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    
}

.framePoem{
    height: 50vh;
    width: 30vw;
    min-height: 500px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frameCountDown{
    height: 15vh;
    min-height: 100px;
    width: 30vw;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countDownText{
    color: #faebac;
    font-family: Times;
    font-size: 32px;
}

.poemText{
    color: #faebac;
    font-family: Times;
    font-size: 32px;
}